<div class="container">

	<div class="starter-template">
		<div class="text-center">
		<h1>{{get_name}}</h1>
		<p class="lead">Admin vote view!</p>
		<p class="text-muted">*This is where you can see cool stuff about votes!</p>
		<br>
		<hr>
		<div class="row">
			<div class="col-xs-3">
				<h4><strong>Remove?</strong></h4>
			</div>
			<div class="col-xs-3">
				<h4><strong>Votes</a></h4>
			</div>
			<div class="col-xs-3">
				<h4><strong>Theme name</strong></h4>
			</div>
			<div class="col-xs-3">
				<h4><strong>Voters</a></h4>
			</div>
		</div>
		<hr>
		{{#each themes}}
				<div class="row">
					<div class="col-xs-3">
						<h4><strong><a class="text-default" href="/votes/remove/{{this.id}}"><i class="text-default fa fa-trash"></i> Delete</a></h4>
					</div>
					<div class="col-xs-3">
						<h4><strong class="text-info">{{this.value.votes}}</strong></h4>
					</div>
					<div class="col-xs-3">
						<h4><strong><u>{{this.value.name}}</u></strong></h4>
					</div>
					<div class="col-xs-3">
						<div class="dropdown">
  							<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    							Voters
    							<span class="caret"></span>
  							</button>
  							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
								{{#each this.value.voters}}
    								<li><a href="#">{{this}}</a></li>
								{{/each}}
  							</ul>
						</div>
					</div>
				</div><hr>
		{{/each}}
	</div>
	</div>

</div><!-- /.container -->
